
    <form action="/lru-cache/capacity" method="post" class="text-center">
            <input type="number" name="capacity" class="form-control mb-3" placeholder="Enter Cache Capacity"  required>
            <button type="submit" class="btn btn-success">Set Capacity</button>
    </form>
